body {
    background: rgb(232, 231, 251);

    label {
        margin-right: 0.5em;

        button {
            margin-inline: 0.5em;
        }
    }
    #todoForm {
      input, textarea {
        width: 15em;
      }
    }
    .checkboxDiv {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 1em;

        button {
            width: 4em;
        }
        .deleteBtn {
            margin-bottom: 2em;
        }
        .editBtn {
            margin-top: 1em;
        }
    }
}